body{
    background-color: lightblue;
}

#options{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;

}

.menu{
    position: relative;
    top: 25%;
}

#left_menu{
    float: left;
}

#right_menu{
    float: right;
}